ightml,
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", PTsans, Arial, sans-serif;
	color: #828282;
}

/* header */

.header {
	height: 165px;
	padding-top: 55px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.container {
	width: 1260px;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.logo-container {
	margin-left: 22px;
	padding-top: 2px;
	width: 750px;
}

.logo-container #logo,
.letter,
.string{
	display: block;
	float: left;
}

.logo-container a {
	color: black;
	text-decoration: none;
}

.letter,
.string {
	position: relative;
	height: 80px;
	font-size: 30px;
	letter-spacing: 2px;
	font-size: 30px;
	text-align: center;
	line-height: 80px;
	margin-top: 3px;
	z-index: 0;
	overflow: hidden;
	transition: all .5s;
	cursor: pointer;
}

.letter {
	width: 40px;
}

.letter > span {
	display: none;
}

.letter::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 80px;
	transform: translate(100%);
	z-index: -1;
	transition: all .5s; 
}

.letter:nth-child(1)::before {
	background-color: #00FF43;
}

.letter:nth-child(2)::before {
	background-color: #07D0FF;
}

.letter:nth-child(3)::before {
	background-color: black;
}

.letter:nth-child(4)::before {
	background-color: #FF1E00;
}

.letter:hover{
	width: 350px;
	color: white;
}

.letter:hover span {
	display: inline-block;
}

.letter:hover::before {
	transform: translate(0);
	overflow: auto;
}

.string {
	width: 140px;
	background-color: #0EBEFF;
	height: 80px;
	
}

.string::before {
	content: "";
	display: block;
	position: absolute;
	width: 140px;
	height: 80px;
	background-color: #583fb9;
	transform: translate(100%);
	transition: all .5s;
	z-index: -1;
}

.string:hover {
	color: white;
}

.string:hover::before {
	transform: translate(0);
	overflow: auto;
}

.socialvk {
	position: relative;
	width: 500px;
	height: 80px;
	float: right;	
	margin-top: 5px;
}

.socialvk .icon {
	border: 2px dashed grey;
	padding: 10px;
	border-radius: 50px;
	transition: all .5s;
}

.socialvk a {
	position: absolute;
	right: 0;
	top: 0;
}

.socialvk a:nth-child(2) {
	right: 100px;
}

.socialvk a:nth-child(3) {
	right: 200px;
}

.socialvk a:nth-child(4) {
	right: 300px;
}

.socialvk .icon:hover {
	transform: rotate(360deg);
	padding: 15px;
}

.header .menu {
	padding: 2px 20px;
	height: 50px;
}

.header .menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header .menu ul li {
	display: block;
	float: left;
	transition: all 1s ease-in-out;
}

.header .menu ul li a {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: #157fc4;
	padding: 10px 20px;
	transition: all .5s ease-in .4s;
}

.header .menu .search {
	width: 60px;
	margin-left: 20px;
	transition: none;
}

.header .menu .search .icon-search {
	height: 20px;
	width: 20px;
	background: white url(../img/sprite.png) no-repeat;
	background-position: 0 -40px;
	margin: 13px auto;
	transition: background-position .5s ease-in;
}

.header .menu ul li a:hover,
.header .menu ul li:hover{
	background-color: #45a3ba;
	color: white;
	cursor: pointer;
}

.header .menu ul li.search:hover .icon-search {
	background: #45a3ba url(../img/sprite.png) no-repeat;
	background-position: -20px -40px;
}

/* slider */

.all {
	margin-top: 100px;
}

#slider { 
    position: relative;
	text-align: center;
    top: 10px;
    width: 1200px;
    margin: 0 auto;
}

#slides article{
	width: 20%;
	float: left;
}

#slides .image{ 
	width: 500%;
	line-height: 0;

}

#overflow{
	width: 100%;
	overflow: hidden;
	box-shadow: 1px 1px 4px #666;
}

article img{ 
	width: 100%;
}

#desktop:checked ~ #slider{ 
	max-width: 100%; 
}

#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
	background: url("../img/slider/prev.png") no-repeat; 
	float: left;
	margin-left: -100px; 
	display: block;
	height: 60px;
	width: 60px;
	opacity: 0.6;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3) {
	background: url("../img/slider/next.png") no-repeat; 
	float: right;
	margin-right: -100px; /*сдвиг вправо*/
	display: block;
	height: 60px;
	width: 60px;
	opacity: 0.6;
}

label, a{ 
	cursor: pointer;
}

.all input{ 
	display: none;
}

#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#controls{
	margin-top: -25%;
	width: 100%;
	height: 50px;
}

#active label{
	border-radius: 10px;
	display: inline-block; 
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active{ 
	margin: 23% 0 0;
	text-align: center;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
	background: black;
	border-color: black !important;
	transition: all 0.5s;
}

#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
	opacity: 1 !important;
}

#controls label{ 
	transition: opacity 0.2s ease-out;
}

/* media */

.content h2 {
	color: #157fc4;
	font-size: 22px;
	margin-top: 80px;
	line-height: 20px;
}

.media {
	box-sizing: border-box;
	border: 7px dashed rgba(27, 127, 195, 0.45);
	padding: 30px;
	border-radius: 80px;
}

.media .diff-media {
	margin: 20px;
	overflow: auto;
	white-space: nowrap;
}

/* text about */

.text-about {
	width: 1100px;
	margin: 0 auto;
}

.text-about .title-list {
	font-size: 16px;
}

.text-about ul li {
	margin-top: 15px;
}

.scroll-elements img {
	
	vertical-align: middle;
}

.scroll-elements {
	margin-top: 120px;
	white-space: nowrap;
	overflow-x: scroll;
}
