h1 {
	font-size: 24px;
	font-weight: normal;
	color: black;
	text-align: center;	
}

table {
	width: 100%;
	border: 1px solid #828282;
	border-collapse: collapse;
}

td,
th {
	border: 1px solid #828282;
	text-align: center;	
}