.all {
	margin: 0 auto;
}

#slider {
	width: 84%;

}

#slides .image {
	width: 800%;
}

#slides article {
	width: 12.5%;
}

#switch1:checked ~ #controls label:nth-child(8),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4), 
#switch6:checked ~ #controls label:nth-child(5),
#switch7:checked ~ #controls label:nth-child(6),
#switch8:checked ~ #controls label:nth-child(7) {
	background: url("../img/slider/prev.png") no-repeat;
	float: left;
	margin-top: 70px;
	margin-left: -100px; 
	display: block;
	height: 60px;
	width: 60px;
	opacity: 0.6;
}

#switch8:checked ~ #controls label:nth-child(1), 
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6),
#switch6:checked ~ #controls label:nth-child(7),
#switch7:checked ~ #controls label:nth-child(8) {
	background: url("../img/slider/next.png") no-repeat; 
	float: right;
	margin-top: 70px;
	margin-right: -100px;
	display: block;
	height: 60px;
	width: 60px;
	opacity: 0.6;
}

#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#switch6:checked ~ #slides .image{
	margin-left: -500%;
}

#switch7:checked ~ #slides .image{
	margin-left: -600%;
}

#switch8:checked ~ #slides .image{
	margin-left: -700%;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5),
#switch6:checked ~ #active label:nth-child(6),
#switch7:checked ~ #active label:nth-child(7),
#switch8:checked ~ #active label:nth-child(8) {
	background: black;
	border-color: black !important;
	transition: all 0.5s;
}

h1 {
	margin-bottom: 20px;
	font-size: 32px;
	text-align: center;
	font-weight: normal;
	color: black;
}
